<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

  <servlet>
    <servlet-name>ListarProductosServlet</servlet-name>
    <servlet-class>com.politecnicomalaga.appalmacen.view.ListarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListarProductosServlet</servlet-name>
    <url-pattern>/listar</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>BuscarProductoServlet</servlet-name>
    <servlet-class>com.politecnicomalaga.appalmacen.view.BuscarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuscarProductoServlet</servlet-name>
    <url-pattern>/buscar</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>InsertarProductosServlet</servlet-name>
    <servlet-class>com.politecnicomalaga.appalmacen.view.InsertarProductosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertarProductosServlet</servlet-name>
    <url-pattern>/insertar</url-pattern>
  </servlet-mapping>
</web-app>